@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";

}
<div class="maintext">
    <div class="row-fluid">
        <div class="span3 text-center">
            <p><a href="#" class="button button-cv"><span class="button-inner"><i class="icon-download"></i><br>My CV</span></a></p>
        </div>
        <div class="span8 offset1">
            <h2>Rosie Castro: Educator, Activist and Speaker</h2>
            <p> Rosie Castro was born and raised in San Antonio, Texas. She attended both Little Flower Catholic Elementary and High Schools, where she was president and valedictorian of her class. She went on to attend Our Lady of the Lake University where she was a member of the National Education Association (NEA) and organized the Young Democrats club there. She served as president of the Bexar County Young Democrats, as vice-president of the women's division of the Young Democrats at the state level, and as Bexar County party chair of the Raza Unida Party. She worked for the Mexican American Unity Council (MAUC) and the City of San Antonio, earned a master's degree from the University of Texas-San Antonio (UTSA). Rosie worked with the City of San Antonio and retired as interim dean from Palo Alto College. </p>
        </div>
    </div>
    <address id="contactinfo">
        <div class="row-fluid">
            <div class="span6">
                <p class="featured-text">
                    <b>Name:</b> Rosie Castro<br>
                    <b>Hometown:</b> San Antonio, Texas<br>
                </p>
            </div>
            <div class="span6">
                <p class="featured-text">
                    <b>Twitter:</b> <a href="https://twitter.com/castrocountry">castrocountry</a><br>
                    <b>Web:</b> <a href="www.rosiecastro.com">www.rosiecastro.com</a><br>
                </p>
            </div>
        </div>
    </address>
</div>