@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}

@section styles{
    <style type="text/css">
    </style>
}

<div class="maintext">
    <div class="row-fluid">
        <div class="span3 text-center">
            <p><a href="#" class="button button-cv"><span class="button-inner"><i class="icon-download"></i><br>Download CV</span></a></p>
        </div>
        <div class="span8 offset1">
            <p class="text-center"> Rosie Castro was born and raised in San Antonio, Texas. She attended both Little Flower Catholic Elementary and high schools, where she was president and valedictorian of her class. She later attended Our Lady of the Lake University where she organized the Young Democrats club.</p>
            <p class="text-center">She was president of the Bexar County Young Democrats, VP of the women's division of the statewide Young Democrats, and Bexar County party chair of the Raza Unida Party. </p>
            <p class="text-center">Rosie worked for the Mexican American Unity Council (MAUC) and the City of San Antonio, earned a master's degree from the University of Texas-San Antonio (UTSA), and worked with the City of San Antonio and retired as interim dean from Palo Alto College. </p>
            <p class="text-center">If you would like to make a request for a speaking engagement, please use the contact form on the Contact page.</p>
        </div>
    </div>
    <address id="contactinfo">
        <div class="row-fluid">
            <div class="span6">
                <p class="featured-text">
                    <b>Location:</b> <a href="http://goo.gl/6wEZVV">San Antonio, Texas</a><br>
                    <b>LinkedIn:</b> <a href="http://linkd.in/1IGQbiu">LinkedIn</a><br>
                </p>
            </div>
            <div class="span6">
                <p class="featured-text">
                    <b>Images:</b> <a href="http://bit.ly/1Iudz2w">Flickr</a> <br>
                    <b>Twitter:</b> <a href="http://twitter.com/castrocountry"> CastroCountry</a> <br>
                </p>
            </div>
        </div>
    </address>
</div>

@section scripts{
    <script type="text/javascript">
        Resume.Page.StartUp = function () {
            //alert("Hi Sara!");
        }
    </script>
}